section.graphs {
  width: 90%;
  position: relative;
  padding: 15px 20px;
  background-color: #343332;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: white; }
  section.graphs h2 {
    font-size: 32px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px; }

#graph {
  background-color: white;
  height: 600px;
  color: black; }
