section.graphs {
  position: relative;
  padding: 15px 40px;
  background-color: #343332;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: white; }
  section.graphs h2 {
    font-size: 32px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px; }
  section.graphs .graph-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }
  @media screen and (max-width: 479px) {
    section.graphs {
      display: none; } }

#graph {
  background-color: white;
  height: 600px;
  color: black; }
  #graph text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px; }
  #graph text.axis-label {
    font-size: 24px; }
