body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a6/The_Rim_Fire_in_the_Stanislaus_National_Forest_near_in_California_began_on_Aug._17%2C_2013-0004.jpg);
  background-repeat: no-repeat;
  background-color: darkgrey;
  background-blend-mode: darken;
  background-size: cover;
  padding-bottom: 100px;
  position: relative; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #343332;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  footer h3 {
    font-size: 14px; }
  footer nav {
    margin-top: 5px; }
    footer nav .fa {
      font-size: 30px; }
    footer nav a {
      color: white;
      margin: 0px 5px; }
