section.graphs{
    // width: 90%;
    position: relative;
    padding: 15px 40px;
    background-color: #343332;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    color: white; 

    h2{
        font-size: 32px;
        color: white;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .graph-controls{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

    }

    @media screen and (max-width: 479px){
        display: none;
    }
} 

#graph {
    background-color: white;
    
    height: 600px;

    color: black;

    text{
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    text.axis-label{
        font-size: 24px;
    }
    
}