body{
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a6/The_Rim_Fire_in_the_Stanislaus_National_Forest_near_in_California_began_on_Aug._17%2C_2013-0004.jpg);
    background-repeat: no-repeat;
    background-color: darkgrey;
    background-blend-mode: darken;
    background-size: cover;
    margin-bottom: 300px;
}

#header-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

strong{
    font-weight: 700;
}

header{
    text-align: center;
    width: 80%;
    color: white;
    margin-bottom: 10px;

    h1{
        font-size: 36px;
        font-weight: 700;
        padding: 5px 0px;
    }

    p{
        font-size: 14px;

    }
}


.map-container{
    width: 100%;
    position: relative;

}

@media screen and (min-width: 480px) {
    .map-container{
        width: 90%;
        position: relative;

    }
}

#map {
    height: 700px;
    width: 100%;
}

.slidecontainer{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;

    width: 350px; 

    padding: 5px 10px;
    border-radius: 5px;
    background-color: #343332;
    color:white;

    h3{
        font-size: 18px;
        font-weight: 700;
    }

    .slider{
        width:90%;
        -webkit-appearance: none; 
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: red;
    }

}


.mapboxgl-popup-content {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 13px;
}
