#selectButtons{
    @media (max-width: 479px) {
        display: none;
    }

    button{

        padding: 5px 10px;

        background-color: #343332;

        color: white;

        border-radius: 5px;

        width: 100px; 

    }

    margin-bottom: 5px;
}

#map-container{
    display: none;
}

#map-container.display{
    display: flex;
}

#graphs{
    display: none;
}

#graphs.display{
    display: flex;
}