#selectButtons{
    @media (max-width: 479px) {
        display: none;
    }
}

#map-container{
    display: none;
}

#map-container.display{
    display: flex;
}

#graphs{
    display: none;
}

#graphs.display{
    display: flex;
}